div.wizard_container {
  
}

div.wizard_container ul.wizard a {
  text-decoration:none;
  font-size: 1.2em;
  border-bottom:none;
}

/*
 * Menu style navigation
 */
 
div.wizard_container .nav-menu {
  position:relative;
  padding-bottom: 15px;
  height: 4em;
}


div.wizard_container .nav-menu li {
  float: left;
  padding: 0px 5px; 
}


div.wizard_container ul.nav-menu li .item-list{
  display: none;
}

div.wizard_container ul.nav-menu li.in-path .item-list{
  display: block;
  position: absolute;
  left:0px;
}

.nav-menu .in-path {
  background-color: #dedede;
 }

/*
 * Tree style navigation
 */

div.wizard_container ul.nav-tree li .item-list{
  padding-left: 1em;
  display: none;
}

div.wizard_container ul.nav-tree li.open .item-list{
  display: block;
}

.nav-tree .has-substeps {
  position: relative;
}

.nav-tree .open-toggle:before {
  content:'\00a0';
  background-image: url("expand.png");
  background-position: center center;
  background-size: 100%;
  position:absolute;
  left: -1.5em;
  top:0.5em;
  height: 1em;
  width: 1em;
  
}

.nav-tree .open .open-toggle:before {
 
  background-image: url("collapse.png");

}


